{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/check.css')}}">
{% endblock %}

{% block title %}
Something wrong?
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Result</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mBody">
                <div id="dataIsSafe" class="hidden">
                    <p>No Authentication Violations</p>
                </div>
                <div id="dataAtRisk" class="hidden">
                    <p>Violations of authenticity in the following documents:</p>
                    <ul id="list">
                        {% for element in response %}
                        <li>{{ element }}</li>>
                        {% endfor %}
                    </ul>
                </div>
                <div id="dataDeleted" class="hidden">
                    <p>The following files have been deleted:</p>
                    <ul id="delList">
                        {% for element in response %}
                        <li>{{ element }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <br>
            <img src="/static/sphere2.png" class="img-rounded center-block">
        </div>
    </div>
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}<br>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col-md-12">
            <h3>Documents</h3>
            <hr>
            <form id="form-id" action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="table-wrapper">
                    <input class="form-control" id="Input" type="text" placeholder="Search">
                    <br>
                    <button type="button" class="btn btn-default" id="select_all">Select all</button>
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">FIle</th>
                                <th scope="col">Name</th>
                                <th scope="col">Date of creation</th>
                            </tr>
                        </thead>
                        <tbody id="DocsTable">
                            {% for subform in form.files %}
                            <tr id="row_{{ loop.index - 1 }}">
                                <td>
                                    <label class="custom-control-input" for="DocsTable">
                                        {{ loop.index }}
                                    </label>
                                    {{ subform.checkbox }}
                                </td>
                                <td>
                                    {{ subform.file_name }}
                                </td>
                                <td>{{ name_list[loop.index - 1] }}</td>
                                <td>{{ date_of_creation_list[loop.index - 1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="btn-group" role="group" aria-label="MyGroup">
                    <button type="button" class="btn btn-default" id="send">Check</button>
                    <button type="button" class="btn btn-default" id="delete">Delete</button>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <a href="{{ url_for('menu') }}">
                            <input type="button", class="btn btn-default", value="Menu">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/check.js"></script>
{% endblock %}