{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<style src ="{{ url_for('static', filename='css/bootstrap.min.css') }}"></style>
<style>
body {
    background-color: #212529;
    color: white;
}
table {
    background-color: #212529 !important;
    color: white !important;
}
tbody tr:nth-child(odd) {
  background: black;
}
.table-wrapper {
    max-height: 376px;
    overflow:auto;
    }
.table-wrapper thead th {
    background-color: #3b1226;
    position: sticky;
    top: 0;
}
tbody td label {vertical-align: middle;}
tbody td input {
    width: 12px; 
    height: 12px;
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    }
</style>
{% endblock %}

{% block title %}
Something wrong?
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <br>
            <img src="/static/sphere2.png" class="img-rounded center-block">
        </div>
    </div>
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>         
                        {{ message }}<br>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="col-md-12">
            <h3>Documents</h3>
            <hr>
            <form id="form-id" action="" method="POST">    
            
                <div class="table-wrapper">
                <input class="form-control" id="Input" type="text" placeholder="Search">
                <br>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">FIle</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date of creation</th>
                        </tr>
                    </thead>
                    <tbody id="DocsTable">
                        {% for i in range(0, count) %}
                        <tr>
                            <td>
                                <label class="custom-control-input">{{ loop.index }}</label>
                                <input type="checkbox" class="form-control" id="checkbox">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="fileName" id="fileName{{ id_list[i] }}" value="{{ id_list[i] }}"> 
                            </td>
                            <td>{{ name_list[i] }}</td>
                            <td>{{ date_of_creation_list[i] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                {{ form.submit }}
            <button type="button" class="btn btn-default" id="send">Submit</button>
            </form>
        </div>
    </div>
</div> 

<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
      $("#Input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#DocsTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
<script>
    $(document).ready(function(){
        var fname;
        $("#send").click(function(){
            var checked = $("input[type=checkbox]:checked");
            var resultArray = [];
            for(v of checked){
                console.log(v)
                var next_input = $(v).closest("tr");
                next_input = next_input.find("input[type=text]")

                resultArray.push(next_input.val())
            }

            $.ajax({
                type: 'POST',
                url: "/check",
                data: {'data': resultArray},
                success: function(response) {
                    console.log(response);
                },
            });
        });
    });
</script>
{% endblock %}

