{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<style>
body {
    background-color: #212529;
    color: white;
}
table {
    background-color: #212529 !important;
    color: white !important;
}
tbody tr:nth-child(odd) {
  background: black;
}
.table-wrapper {
    max-height: 376px;
    overflow:auto;
    }
.table-wrapper thead th {
    background-color: #3b1226;
    position: sticky;
    top: 0;
}
tbody td label {vertical-align: middle;}
tbody td input {width: 12px; height: 12px;}
</style>
{% endblock %}

{% block title %}
Something wrong?
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <br>
            <img src="/static/sphere2.png" class="img-rounded center-block">
        </div>
    </div>
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>         
                        {{ message }}<br>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="col-md-12">
            <h3>Documents</h3>
            <hr>
            <form action="" method="GET">    
                <div class="table-wrapper">
                <input class="form-control" id="Input" type="text" placeholder="Search">
                <br>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">FIle</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date of creation</th>
                        </tr>
                    </thead>
                    <tbody id="Table">
                        {% for f in files %}
                        <tr>
                            <td>
                                <label class="custom-control-input">{{ loop.index }}</label>
                                <input type="checkbox" class="custom-control-input">
                            </td>
                            <td>{{ f.id }}</td>
                            <td>{{ f.name }}</td>
                            <td>{{ f.date_of_creation }}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </form>
        </div>
    </div>
</div> 

<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
        &(document).ready(function(){
            $("#Input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("Table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
</script>
{% endblock %}
