{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/finish.css')}}">
{% endblock %}

{% block title %}
Done!
{% endblock %}

{% block content %}
{% include "logout.html" %}
<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <img src="/static/darkmark.png" class="img-rounded center-block">
        </div>
    </div>
    <div class="text-center">
        <h1 style="color: white">Well</h1>
        <h2 style="color: white">But it was said in snake language!</h2>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="btn-group" role="group" aria-label="FinishGroup">
                    <button type="button" class="btn btn-dark">
                        <a href="{{url_for('form_post')}}">Write another</a>
                    </button>
                    <button type="button" class="btn btn-dark">
                        <a href="{{url_for('logout')}}">Logout</a>
                    </button>
                </div> 
            </div>
        </div>        
    </div> 
</div>
{% include "back_to_menu.html" %}
{% endblock %}

