{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
<style>
body {
  background-color: #212529;
}
img {width: 50%; margin: auto;}
#carouselExampleControls {
  margin-top: 5%;
}
</style>
{% endblock %}

{% block title %}
What do you want?
{% endblock %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      <a href="{{url_for('form_post')}}">
        <img src="/static/post_.png" alt="...">
      </a>
      <h1 style="color: white" align="center">Write</h1>
    </div>
    <div class="carousel-item">
      <a href="{{url_for('check')}}">
        <img src="/static/sphere2.png" alt="..." style="width: 550px; height: 500px; margin-top: 6%; margin-block-end: 4%">
      </a>
      <h1 style="color: white" align="center">Check</h1>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
{% endblock %}