body {
    background-color: #212529;
    color: white;
}

table {
    background-color: #212529 !important;
    color: white !important;
}

tbody tr:nth-child(odd) {
    background: black;
}

.modal-content {
    background-color: #212529 !important;
}

.table-wrapper {
    max-height: 376px;
    overflow: auto;
}

.table-wrapper thead th {
    background-color: #3b1226;
    position: sticky;
    top: 0;
}

tbody td label {
    vertical-align: middle;
}

tbody td input {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
}